body {
    background-image: url("../images/haloBackground.jpg");
    height: 100%;
    text-align: center;
}

#container{
    box-sizing: border-box;
    width: 50%;
    height: 95%;
    margin: auto;
    background-color: transparent;    
}

img {
    height: 300px;
}

#quizHolder {
    position: relative;
    top: 60px;
}


button {
    display: block;
    width: 50%;
    height: 20%;
    margin: 10px auto;
    font-size: 42px;
    background: transparent;
    border: 3px solid olivedrab;
    /* Taken from the spartan armor */
}

button:hover {
    background: #E9AC39;
    /* Color picker used on chief's mask to get authentic color */
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

h2 {
    font-size: 35px;
    margin: 5px;
}
/* needs media queries for mobile */
@media screen and (max-width: 600px) {
    #quizHolder{
        width: 100%;
        text-align: left;
    }
    button{
        width: 90%;
        background-color: #E9AC39;
        font-size: 28px;
    }
    img{
        height: 100px;
        max-width: 90%;
    }
}