body {
    background-image: url("../images/haloBackground.jpg");
    height: 100%;
    text-align: center;
}

#container{
    box-sizing: border-box;
    width: 50%;
    height: 95%;
    margin: auto;
    background-color: transparent; 
   
}